<h3>Woo Import Categories Component</h3>


<Blazorise.Button Loading="_IsWaiting" Class="btn btn-outline-primary"
                          @onclick="@ImportCategories_Click" Type="ButtonType.Button">Import Categories</Blazorise.Button>

@{if ((_IsWaiting) && (_maxRecs > 0))
    {
         <Blazorise.ProgressBar Max="_maxRecs" Animated="true" Min="0" Value="_recsImported" />
    }
}