@using Blazorise

<Modal @ref="modalRef" IsAnimated="true" >
    <ModalContent IsCentered="true" Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>@ModalTitle</ModalTitle>
            <CloseButton Clicked="@HideModalAsync" />
        </ModalHeader>
        <ModalBody>
            @ModalMessage
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModalAsync">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
